body{
	margin: 0;
	font-size: 16px;
	font-family: 'Montserrat';
	color: #4B4946;
}
.hero1{
	background: url("img/hero1-bg.jpg") top center no-repeat;
	background-size: cover;
	padding: 100px 10px;
}
.hero1 > div{
	max-width: 1024px;
	margin: 0 auto;
}
.hero1 h1{
	max-width: 836px;
	font-family: 'Playfair Display';
	font-size: 80px;
	font-weight: 400;
	margin: 0 0 70px;
	line-height: 94px;
	color: #242220;
}
.hero1 h2{
	font-family: 'Playfair Display';
	font-size: 64px;
	font-weight: 400;
	margin: 0 0 10px;
	line-height: 94px;
	color: #242220;
	text-align: center;
}
.hero1 h3{
	font-size: 32px;
	font-weight: 600;
	margin: 0 0 20px;
	color: #242220;
}
.hero1 p{
	max-width: 736px;
	font-size: 20px;
	margin: 0 auto 20px;
}
.hero1 > div > div{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 0 80px;
}
.hero1 > div > div > div{
	width: 50%;
	box-sizing: border-box;
}
.hero1 > div img{
	width: 42%;
	display: block;
	margin: 0 auto;
}
.cta{
	background: #242220;
    padding: 34px 0;
    font-size: 20px;
    margin: 30px auto;
    display: block;
    max-width: 280px;
    text-align: center;
    font-weight: 700;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}
.hero2{
	background: url("img/hero2-bg.jpg") top center no-repeat;
	background-size: cover;
	padding: 200px 10px 130px;
}
.hero2 > div{
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.hero2 > div > div{
	width: 50%;
	margin: 0 0 0 auto;
	box-sizing: border-box;
	position: relative;
}
.hero2 circle {
    position: absolute;
    border-radius: 50%;
    background: #DBEBEC;
    width: 700px;
    height: 700px;
    z-index: -1;
    top: 45px;
    right: 200px;
}
.hero2 h3{
	font-family: 'Playfair Display';
	font-size: 75px;
	font-weight: 400;
	color: #242220;
	margin: 0;
	line-height: 70px;
	text-align: center;
}
.hero2 ul{
	font-size: 40px;
	font-weight: 300;
}
.hero2 p{
	font-size: 20px;
	margin: 0 0 40px;
	text-align: justify;
}
.hero2 .address{
	font-size: 20px;
	color: #242220;
	line-height: 24px;
	margin: 0 0 0 50px;
}
.hero2 .address span{
	font-size: 32px;
	font-weight: 600;
}
.hero2 .address::before{
	content: url(img/location.svg);
    position: absolute;
    left: 0;
    width: 35px;
}
.hero3{
	background: #242220;
	padding: 100px 10px;
}
.hero3 > div{
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.hero3 h3{
	font-family: 'Playfair Display';
	font-size: 36px;
	font-weight: 400;
	font-style: italic;
	margin: 0 0 20px;
	text-align: center;
	color: #B0C74B;
}
.hero3 p{
	color: white;
	margin: 0 0 20px;
}
.hero3 > div > div{
	width: 50%;
	padding: 0 30px;
	box-sizing: border-box;
}
.hero3 > div > div:last-child{
	width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 30px;
    box-sizing: border-box;
}
.hero3 img{
	width: 49%;
	cursor: pointer;
}
.hero3 .cta{
	background: #B0C74B;
    color: #242220;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: flex;
}

#overlay img {
    max-width: 95%;
    max-height: 95%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    animation: zoomIn 0.25s ease;
}
@keyframes zoomIn {
    from {
        transform: scale(0.75);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.garancia{
	background: url("img/garancia-bg.jpg") top center no-repeat;
	background-size: cover;
	padding: 100px 10px;
}
.garancia > div{
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.garancia h3{
	width: 50%;
	font-family: 'Playfair Display';
	font-size: 64px;
	font-weight: 400;
	font-style: italic;
	margin: 0 0 20px;
	color: white;
	position: relative;	
}
.garancia > div div{
	width: 50%;
	color:#242220;
}
.garancia h3::after {
    content: url(img/arrow.svg);
    position: absolute;
    margin: 0 0 0 20px;
    top: -12px;
}
.velemenyek{
	background: url("img/velemenyek-bg.jpg");
	padding: 100px 10px;
}
.velemenyek > div{
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.velemenyek h3{
	font-family: 'Playfair Display';
	font-size: 64px;
	font-weight: 400;
	margin: 0 0 50px;
	color: #242220;
	text-align: center;
	line-height: 94px;
}
.velemenyek > div > div{
	width: 50%;
	padding: 0 20px;
	box-sizing: border-box;
	position: relative;
}
.velemenyek > div > div div{
	margin: 0 0 20px;
}
.velemenyek > div > div div:last-child{
	margin: 0 0 20px;
	display: flex;
	align-items: center;
}
.velemenyek img{
	max-width: 85px;
	margin: 0 10px;
}
.velemenyek cite span{
	font-family: 'Playfair Display';
	font-size: 36px;
	font-weight: 400;
}
aposztrof {
    font-family: 'Playfair Display';
    font-size: 690px;
    position: absolute;
    top: 120px;
    right: 0;
    line-height: 0;
    z-index: 0;
    opacity: 5%;
}
.rolunk{
	background: url("img/rolunk-bg.jpg") bottom center no-repeat;
	background-size: cover;
	padding: 160px 10px 70px;
	color: #242220;
}
.rolunk > div{
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.rolunk > div > div{
	width:50%;
	margin: 0 0 0 auto;
	padding: 0 60px;
	box-sizing: border-box;
}
.rolunk h3{
	font-family: 'Playfair Display';
	font-size: 64px;
	font-weight: 400;
	margin: 0 0 50px;
	text-align: center;
}
.rolunk p:last-child {
    font-size: 24px;
    font-family: 'Playfair Display';
    text-align: center;
    line-height: 0.8;
    margin: 40px 0 0;
}
.rolunk p:last-child span{
	font-size: 16px;
	font-family: 'Montserrat';
	font-weight: 300;
}
input#myCheck {
    height: 20px;
    width: 20px;
    transform: translateY(3px);
}
.megrendeles{
	background: url("img/megrendeles-bg.jpg") top center no-repeat;
	background-size: cover;
	padding: 100px 10px;
}
.megrendeles h3{
	font-family: 'Playfair Display';
	font-size: 64px;
	font-weight: 400;
	margin: 0;
	color: #242220;
	text-align: center;
	line-height: 94px;
}
.megrendeles .alcim{
	text-align: center;
	margin: 0 auto;
	max-width: 530px;
}
.megrendeles h4{
	font-family: 'Playfair Display';
	font-size: 36px;
	font-weight: 400;
	margin: 0 0 50px;
	color: #242220;
	text-align: center;
}
.megrendeles > div{
	max-width: 1024px;
	margin: 50px auto 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
}
.megrendeles .rendeles-form,
.megrendeles .menetrend{
	width: 50%;
}
.rendeles-form{
	padding: 40px;
	box-sizing: border-box;
}
.menetrend{
	padding: 0 0 0 60px;
	box-sizing: border-box;
	position: relative;
}
.menetrend p::before {
    position: absolute;
    width: 55px;
    background: #242220;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Playfair Display';
    font-size: 40px;
    left: 0;
    padding: 0px 0px 16px;
    line-height: 39px;
}
.menetrend p {
    margin: 30px 0;
}
.menetrend p:nth-of-type(1)::before{
	content:"1.";
}
.menetrend p:nth-of-type(2)::before{
	content:"2.";
}
.menetrend p:nth-of-type(3)::before{
	content:"3.";
}
.menetrend p:nth-of-type(4)::before{
	content:"4.";
}
.menetrend p:nth-of-type(5)::before{
	content:"5.";
}
form input[type="text"],
form input[type="email"],
form select{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 0 20px;
    border: 0;
	border-bottom: 1px solid rgba(15, 40, 70, 0.3);
    font-size: 18px;
	background: transparent;
	color: #0F2846;
}
form input[type="text"]:focus-visible,
form input[type="email"]:focus-visible,
form select:focus-visible{
	outline: none;
    border-bottom: 1px solid rgba(15, 40, 70, 1);
}
input:-webkit-autofill {
    background-color: transparent !important;
    color: #0F2846 !important;
}
.rendeles-form label {
	font-size: 16px;
	text-transform: uppercase;
    display: inline-block;
    color: #0F2846;
}
.total-sum {
    font-size: 20px;
    text-align: right;
}
.total-sum span {
    font-weight: 600;
    font-size: 24px;
}
form button {
    background: #242220;
    text-decoration: none;
    padding: 34px 0;
    margin: 20px auto 5px;
    display: block;
    width: 280px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
	border:0;
    border-radius: 3px;
	cursor:pointer;
}
form img{
	display: block;
	margin: 0 auto;
	width: 100%;
}

@media (max-width:500px){
.hero1 {
    padding: 50px 10px;
}
.hero1 h1 {
    font-size: 28px;
    line-height: normal;
	margin: 0 0 30px;
}
.hero1 > div > div:nth-of-type(2) {
    flex-direction: column-reverse;
}
.hero1 > div > div > div,
.hero1 > div img{
    width: 100%;
}
.hero1 h3 {
	font-size: 20px;
	line-height: normal;
}
.hero1 p {
    font-size: 16px;
}
.hero2 {
    background: url(img/hero2-mobil-bg.jpg) center no-repeat;
    background-size: cover;
    padding: 0px 10px 439px;
}
.hero2 > div > div {
    width: 100%;
}
.hero2 p {
    font-size: 16px;
}
.hero2 h3 {
    font-size: 46px;
}
.hero3 > div > div,
.hero3 > div > div:last-child{
    width: 100%;
}
.hero1 h2,
.hero2 h3,
.rolunk h3,
.velemenyek h3,
.megrendeles h3 {
    font-size: 32px;
	line-height: normal;
}
.garancia h3 {
    width: 100%;
    font-size: 32px;
	text-align: center;
}
.garancia h3::after {
	top: 0;
}
.garancia > div div {
    width: 100%;
}
.velemenyek > div > div {
    width: 100%;
}
.velemenyek cite span {
    font-size: 24px;
}
.rolunk {
    background: url(img/rolunk-bg.jpg) 73% no-repeat;
	padding: 185px 10px 70px;
}
.rolunk > div > div {
    width: 100%;
	padding: 0;
}
.megrendeles .rendeles-form, .megrendeles .menetrend {
    width: 100%;
}
.rendeles-form {
    padding: 10px;
}
form button {
    width: 100%;
    font-size: 16px;
}
}